mode: ramified
execute_raw_segmentation_ramified:
  name: Execute Raw Segmentation
  parameters:
    tubular_scales:
      label: Tubular Scales (comma-sep floats)
      type: list
      value:
      - 0.0
      element_type: float
    min_size:
      label: Minimum Size (Voxels, Raw Seg)
      type: int
      value: 2000
      min: 10
      max: 50000
      step: 10
    smooth_sigma:
      label: Smooth Sigma (Initial)
      type: float
      value: 1.1
      min: 0.1
      max: 10.0
      step: 0.1
    low_threshold_percentile:
      label: Low Threshold Percentile (Raw Seg)
      type: float
      value: 99.0
      min: 0.0
      max: 100.0
      step: 0.1
    high_threshold_percentile:
      label: High Threshold Percentile (Raw Seg)
      type: float
      value: 100.0
      min: 0.0
      max: 100.0
      step: 0.1
    connect_max_gap_physical:
      label: Max Connect Gap (um)
      type: float
      value: 0.0
      min: 0.0
      max: 10.0
      step: 0.1
execute_trim_edges_ramified:
  name: Execute Edge Trimming
  parameters:
    edge_trim_distance_threshold:
      label: Edge Trim Distance (um)
      type: float
      value: 0.0
      min: 0.0
      max: 20.0
      step: 0.1
    hull_boundary_thickness_phys:
      label: Hull Boundary Thickness (um)
      type: float
      value: 2.0
      min: 0.1
      max: 10.0
      step: 0.1
    brightness_cutoff_factor:
      label: Brightness Cutoff Factor
      type: float
      value: 10000000.0
      min: 0.0
      max: 10000000
      step: 0.1
    min_size_voxels:
      label: Min Size (Voxels, Post-Trim)
      type: int
      value: 2000
      min: 0
      max: 10000
      step: 10
    hull_closing_radius:
      label: Hull closing radius
      type: int
      value: 1
      min: 0
      max: 10000
      step: 1
    z_erosion_iterations:
      label: Z-Anisotropy Correction (Erosion)
      type: int
      value: 2
      min: 0
      max: 10
execute_soma_extraction_ramified:
  name: Execute Soma Extraction
  parameters:
    ratios_to_process:
      label: Ratios to Process
      type: list
      value:
      - 0.2
      - 0.3
      - 0.4
      - 0.5
      - 0.6
      - 0.7
      - 0.8
      - 0.9
      - 0.95
      element_type: float
    intensity_percentiles_to_process:
      label: Intensity Percentiles
      type: list
      value:
      - 100.0
      - 99.5
      - 99.0
      - 95.0
      - 90.0
      - 85.0
      - 80.0
      - 70.0
      - 75.0
      - 60.0
      - 55.0
      - 50.0
      - 45.0
      - 40.0
      - 35.0
      - 30.0
      - 25.0
      - 20.0
      - 15.0
      - 10.0
      - 5.0
      - 1.0
      element_type: int
    min_physical_peak_separation:
      label: Min Peak Separation (um)
      type: float
      value: 6.0
      min: 1.0e-05
      max: 20.0
      step: 1.0e-05
    seeding_min_distance_um:
      label: Internal Seeding Resolution (um)
      type: float
      value: 1.0
      min: 1.0e-05
      max: 20.0
      step: 1.0e-05
    min_fragment_size:
      label: Min Seed Size (Voxels)
      type: int
      value: 10
      min: 1
      max: 1000000
      step: 1
    absolute_min_thickness_um:
      label: Min Absolute Thickness (um)
      type: float
      value: 0.0001
      min: 1.0e-05
      max: 10.0
      step: 1.0e-05
    core_volume_target_factor_upper:
      label: Soma Vol Factor (Upper)
      type: float
      value: 2.0
      min: 1.0e-06
      max: 1000.0
      step: 1.0e-05
    core_volume_target_factor_lower:
      label: Soma Vol Factor (Lower)
      type: float
      value: 0.0001
      min: 1.0e-05
      max: 1.0
      step: 1.0e-05
    max_allowed_core_aspect_ratio:
      label: Max Aspect Ratio
      type: float
      value: 50.0
      min: 1.0
      max: 50.0
      step: 0.1
    ref_vol_percentile_lower:
      type: int
      value: 1
      min: 0
      max: 100
      step: 1
    ref_vol_percentile_upper:
      type: int
      value: 20
      min: 0
      max: 100
      step: 1
    ref_thickness_percentile_lower:
      type: int
      value: 1
      min: 0
      max: 100
      step: 1
    smallest_quantile:
      type: float
      value: 0.001
      min: 0.0
      max: 1.0
      step: 1.0e-05
    erosion_iterations:
      label: Soma Erosion Iterations
      type: int
      value: 0
      min: 0
      max: 5
      step: 1
    absolute_max_thickness_um:
      type: float
      value: 50.0
      min: 0.001
      max: 100.0
      step: 0.001
execute_cell_separation_ramified:
  name: Execute Cell Separation
  parameters:
    min_path_intensity_ratio:
      label: Min Path Intensity Ratio (Merge thresh)
      type: float
      value: 5.0
      min: 0.0
      max: 10.0
      step: 0.1
    min_local_intensity_difference:
      label: Min Local Intensity Diff (Merge thresh)
      type: float
      value: 0.0
      min: -5.0
      max: 100.0
      step: 0.1
    max_seed_centroid_dist:
      label: Max Seed Merge Distance (um)
      type: float
      value: 0.1
      min: 0.0
      max: 100.0
      step: 0.1
    intensity_weight:
      label: Watershed Intensity Weight
      type: float
      value: 0.1
      min: 0.0
      max: 10.0
      step: 0.1
    min_size_threshold:
      label: Min Final Cell Size (Voxels)
      type: float
      value: 500.0
      min: 0.0
      max: 10000000.0
      step: 10.0
    local_analysis_radius:
      label: Local Analysis Radius (um)
      type: int
      value: 10
      min: 1
      max: 100
      step: 1
execute_calculate_features_ramified:
  name: Execute Feature Calculation (3D)
  parameters:
    prune_spurs_le_um:
      label: Prune Skeleton Spurs <= (um)
      type: float
      value: 20.0
      min: 0
      max: 200
      step: 0.01
voxel_dimensions:
  x: 424.27
  y: 424.27
  z: 89.0
saved_state:
  segmentation_threshold: 0.11440354585647583
